Sphinx
sphinx_rtd_theme
sphinx_math_dollar
numpydoc
myst_parser
sphinxcontrib-apidoc
sphinx-prompt

extension-helpers
numpy
scipy
astropy>=4.1
matplotlib
pandas
astroquery>0.4.1
sep
photutils
statsmodels
tqdm
psycopg2
regions
sip_tpv
astroscrappy
pyfftw
